<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let recurso of anatomy">
      <div class="card">
        <ng-container *ngIf="recurso.tipo_archivo === 'video'; else imageTemplate">
          <video class="card-img-top" controls [title]="recurso.descripcion">
            <source [src]="'/assets/videos/' + (recurso.archivo || 'default.mp4')" type="video/mp4">
            Tu navegador no soporta la reproducción de este formato de video.
          </video>
        </ng-container>
        <ng-template #imageTemplate>
          <img [src]="'/assets/imgs/' + recurso.archivo" class="card-img-top" [alt]="recurso.titulo"
            data-bs-toggle="tooltip" data-bs-placement="top" [title]="recurso.descripcion"
            (error)="onImageError($event)">
        </ng-template>

        <div class="card-body">
          <h5 class="card-title">{{ recurso.titulo }}</h5>
          <!-- Botón para seleccionar recurso y abrir modal -->
          <button type="button" class="btn btn-info" (click)="setSelectedRecurso(recurso); openModal()">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar detalles del recurso -->
<div class="modal fade" id="anatomyDetailModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" #anatomyModal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">{{ selectedRecurso?.titulo }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="selectedRecurso?.tipo_archivo === 'video'; else modalImage">
          <video class="img-fluid mb-3" controls>
            <source [src]="'/assets/videos/' + (selectedRecurso?.archivo || 'default.mp4')" type="video/mp4">
            Tu navegador no soporta la reproducción de este formato de video.
          </video>
        </ng-container>
        <ng-template #modalImage>
          <img [src]="'/assets/imgs/' + selectedRecurso?.archivo" class="img-fluid mb-3" [alt]="selectedRecurso?.titulo" (error)="onImageError($event)">
        </ng-template>
        <p>{{ selectedRecurso?.descripcion }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-red" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Botón externo para iniciar el quiz -->
<div class="text-center mt-4">
  <button id="btn-quiz" class="btn btn-info" (click)="startQuiz()">
    Iniciar Quiz
  </button>
</div>
