<section class="container my-5">
  <h2 class="text-center mb-4">Explora las Regiones Anatómicas</h2>
  <div class="row">

    <!-- Bucle para generar una tarjeta por cada elemento en anatomyList -->
    <div class="col-md-4 mb-4" *ngFor="let anatomy of anatomyList; let i = index">
      <div class="card text-center"> <!-- Añade 'text-center' para centrar los contenidos de la tarjeta -->
        <img [src]="'/assets/imgs/'+anatomy.imagen_url || '/assets/imgs/default.png'" class="card-img-top" [alt]="anatomy.titulo">
        <div class="card-body">
          <h5 class="card-title">{{ anatomy.titulo }}</h5>
          <p class="card-text">{{ anatomy.descripcion }}</p>

          <!-- Botón para abrir el modal con información específica -->
          <button type="button" class="btn btn-info" data-bs-toggle="modal" [attr.data-bs-target]="'#modal' + i"
                  (click)="navegate(anatomy.id)">
            Ver más
          </button>
        </div>
      </div>
    </div>

  </div>
</section>
