<br><br>
<section class="container my-5">
  <h1 class="text-center mb-4">🌟 Explora las regiones anatómicas 🌟</h1><br><br>
  <div class="row justify-content-center">
    <!-- Tarjetas dinámicas -->
    <div class="col-md-6 col-lg-4 mb-4" *ngFor="let anatomy of anatomyList; let i = index">
      <div class="card shadow-sm border-0 h-100">
        <div class="card-img-top position-relative">
          <img [src]="'/assets/imgs/'+anatomy.imagen_url || '/assets/imgs/default.png'" 
               class="img-fluid rounded-top" 
               [alt]="anatomy.titulo" 
               onerror="this.src='/assets/imgs/default.png'">
          <!-- Etiqueta opcional sobre la imagen -->
          <div class="badge bg-primary position-absolute top-0 end-0 m-2 p-2">
            Sección #{{ i + 1 }}
          </div>
        </div>
        <div class="card-body text-center">
          <h5 class="card-title fw-bold">{{ anatomy.titulo }}</h5>
          <p class="card-text text-muted">{{ anatomy.descripcion }}</p>
          <button type="button" class="btn btn-outline-info rounded-pill px-4"
                  (click)="navegate(anatomy.id)">
            Ver más
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
