/* Mejora de las imágenes */
.card-img-top img {
  object-fit: cover;
  height: 200px;
  border-color: black;
}

/* Sombra y animación en hover */
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Etiqueta superior */
.badge {
  font-size: 0.9rem;
  background: linear-gradient(45deg, #00c6ff, #0072ff);
}
