<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-gradient-primary text-white shadow-sm fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-uppercase" href="#">Touch Anatomy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="" [ngClass]="{active: menuOption == 'home'}" (click)="onOption('home')">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="anatomy" [ngClass]="{active: menuOption == 'anatomy'}" (click)="onOption('anatomy')">Anatomía</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" routerLink="conocenos" [ngClass]="{active: menuOption == 'conocenos'}" (click)="onOption('conocenos')">Conócenos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Contenido Principal -->
<div class="main-content">
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="footer bg-gradient-primary text-white text-center py-3">
  <p class="mb-0">&copy; 2024 Fundación Universitaria María Cano. Todos los derechos reservados.</p>
  <p class="mb-0">Desarrollado por Sburbano45.</p>
</footer>
